<div class="container">
  <div class="max-full px-4 mx-auto sm:px-8">
    <div class="flex flex-row flex-wrap justify-end">
      <app-button-back url="/departments"></app-button-back>
    </div>
    <app-loading *ngIf="!detailDepartment"></app-loading>
    <div
      *ngIf="detailDepartment"
      class="w-full py-8 flex flex-row justify-center mt-10"
    >
      <div
        class="w-full flex flex-col max-w-lg px-4 py-8 bg-slate-50 rounded-lg shadow sm:px-6 md:px-8 lg:px-10"
      >
        <div
          class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl"
        >
          Detalle del departamento
        </div>
        <span
          class="justify-center text-sm text-center text-gray-500 flex-items-center"
        >
          Información a detalle del departamento
        </span>
        <div class="p-6 mt-4" *ngIf="detailDepartment">
          <div class="mb-2">
            <p class="text-md font-bold text-gray-800">Nombre</p>
            <p class="text-sm text-gray-500">
              {{ detailDepartment.name }}
            </p>
          </div>
          <div class="mb-2">
            <p class="text-md font-bold text-gray-800">
              Clave del departamento
            </p>
            <p class="text-sm text-gray-500">
              {{ detailDepartment.keyDepartment }}
            </p>
          </div>

          <div class="mb-2" *ngIf="detailDepartment.image">
            <p class="text-md font-bold text-gray-800">Foto del departamento</p>
            <img
              class="p-1 bg-white border rounded w-full"
              [src]="photoDepartment"
              alt="Foto del departamento"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
