<div class="container">
  <div class="max-full px-4 mx-auto sm:px-8">
    <div class="flex flex-row flex-wrap justify-end">
      <app-button-back url="/categories"></app-button-back>
    </div>
    <app-loading *ngIf="!detailCategory"></app-loading>
    <div
      *ngIf="detailCategory"
      class="w-full py-8 flex flex-row justify-center mt-10"
    >
      <div
        class="w-full flex flex-col max-w-lg px-4 py-8 bg-slate-50 rounded-lg shadow sm:px-6 md:px-8 lg:px-10"
      >
        <div
          class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl"
        >
          Detalle de la categoría
        </div>
        <span
          class="justify-center text-sm text-center text-gray-500 flex-items-center"
        >
          Información a detalle de la categoría
        </span>
        <div class="p-6 mt-4" *ngIf="detailCategory">
          <div class="mb-2">
            <p class="text-md font-bold text-gray-800">Nombre</p>
            <p class="text-sm text-gray-500">
              {{ detailCategory.name }}
            </p>
          </div>
          <div class="mb-2">
            <p class="text-md font-bold text-gray-800">
              Departamento
            </p>
            <p class="text-sm text-gray-500">
              {{ detailCategory.department.name }}
            </p>
          </div>
          <div class="mb-2" *ngIf="detailCategory.image">
            <p class="text-md font-bold text-gray-800">Foto de la categoría</p>
            <img
              class="p-1 bg-white border rounded w-full"
              [src]="photoCategory"
              alt="Foto de la categoría"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
