<div
  *ngIf="arrayPages.length > 0"
  class="flex flex-col items-center px-5 py-5 bg-white xs:flex-row xs:justify-between"
>
  <div class="flex items-center">
    <button
      [disabled]="data.first || loading"
      type="button"
      class="w-full p-4 text-base text-gray-600 bg-white border rounded-l-xl hover:bg-gray-100"
      [class.bg-gray-100]="data.first || loading"
      (click)="prevPage()"
    >
      <svg
        width="9"
        fill="currentColor"
        height="8"
        class=""
        viewBox="0 0 1792 1792"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
        ></path>
      </svg>
    </button>
    <button
      *ngFor="let p of arrayPages; let i = index"
      [disabled]="loading"
      type="button"
      class="w-full px-4 py-2 text-base bg-white hover:bg-gray-100"
      [class.bg-gray-100]="loading"
      [ngClass]="
        p === page
          ? 'text-indigo-500 border-t border-b'
          : 'text-gray-600 border'
      "
      (click)="activePage(p)"
    >
      {{ p }}
    </button>
    <button
      [disabled]="data.last || loading"
      type="button"
      class="w-full p-4 text-base text-gray-600 bg-white border-t border-b border-r rounded-r-xl hover:bg-gray-100"
      [class.bg-gray-100]="data.last || loading"
      (click)="nextPage()"
    >
      <svg
        width="9"
        fill="currentColor"
        height="8"
        class=""
        viewBox="0 0 1792 1792"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
        ></path>
      </svg>
    </button>
  </div>
</div>
