<div class="container">
  <div class="max-full px-4 mx-auto sm:px-8">
    <div class="flex flex-row flex-wrap justify-end">
      <button
        type="button"
        class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-900"
        routerLink="/products/create"
      >
        Nuevo producto
      </button>
    </div>
    <div class="mt-3 flex flex-row flex-wrap justify-between items-center">
      <div>
        <label for="" class="block">Filtrar por categoría:</label>
        <select
          class="rounded-lg border-transparent appearance-none border border-gray-300 w-auto py-2 px-3 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
          (change)="onChange($event)"
          [formControl]="filterCategory"
        >
          <option value="0">Todas las categorías</option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <button
          type="button"
          class="bg-pink-600 text-white px-3 py-2 rounded-md text-sm font-medium md:ml-5 sm:ml-1 sm:mt-2 hover:bg-pink-700"
          (click)="cleanFilter()"
        >
          Limpiar filtro
        </button>
      </div>
      <div>
        <label for="" class="block">Cantidad a mostrar:</label>
        <select
          class="rounded-lg border-transparent appearance-none border border-gray-300 w-auto py-2 px-3 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
          (change)="onChangeFilter($event)"
          [formControl]="filterSize"
        >
          <option *ngFor="let size of sizePages" [value]="size">{{size}}</option>
        </select>
      </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <div class="py-8" *ngIf="!loading && products">
      <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
        <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
          <app-loading *ngIf="loadingData"></app-loading>
          <table
            *ngIf="!loadingData && products.content.length > 0"
            class="min-w-full leading-normal"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Nombre
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Marca
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Modelo
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Precio
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Descuento
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                >
                  Categoría
                </th>
                <th
                  scope="col"
                  class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200"
                ></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products.content">
                <!--<td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0">
                      <a href="#" class="relative block">
                        <img
                          alt="profil"
                          src="/images/person/8.jpg"
                          class="mx-auto object-cover rounded-full h-10 w-10"
                        />
                      </a>
                    </div>
                    <div class="ml-3">
                      <p class="text-gray-900 whitespace-no-wrap">Jean marc</p>
                    </div>
                  </div>
                </td> -->
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ product.name }}
                  </p>
                </td>
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ product.brand }}
                  </p>
                </td>
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ product.model }}
                  </p>
                </td>
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <p class="text-gray-900 whitespace-no-wrap">
                    ${{ product.price }}
                  </p>
                </td>
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ product.discount | formatDiscount }}%
                  </p>
                </td>
                <td
                  class="px-5 py-5 text-sm bg-white border-b border-gray-200 w-auto"
                >
                  <span
                    class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900"
                  >
                    <span
                      aria-hidden="true"
                      class="absolute inset-0 bg-pink-700 rounded-full"
                    >
                    </span>
                    <span class="relative text-white">
                      {{ product.category.name }}
                    </span>
                  </span>
                </td>
                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                  <div
                    class="flex flex-row flex-nowrap justify-center items-center"
                  >
                    <button [routerLink]="['detail', product.id]">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                        />
                      </svg>
                    </button>

                    <button [routerLink]="['edit', product.id]">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                        />
                      </svg>
                    </button>

                    <button (click)="deleteProduct(product.id)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 cursor-pointer"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-notification
            *ngIf="!loadingData && products.content.length === 0"
            message="Lo sentimos no se encontró información de productos. "
          ></app-notification>
          <!-- Pagination -->
          <app-pagination [data]="products"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
